<header>
	<div class="containermenu">
		<div>
		</div>
		<nav>
			<ul>
				<li><a aria-current="page" asp-controller="Product" asp-action="AllProducts">Products</a></li>
				<li><a href="">work</a></li>
				<li><a href="">product</a></li>
				<li><a href="">about</a></li>
				<li><a href="">contact</a></li>
			</ul>
		</nav>
	</div>
</header>