<header>
    <div class="headercontainer">
        <a id="logo" href="/Car/AllCars"><img src="~/Images/logo.png" alt="logo"></a>
        <div class="headermenu">
            <form asp-controller="Car" asp-action="SearchCars" method="get">
                <input id="search-input" type="text" name="query" placeholder="Axtaris...">
                <button type="submit">Search</button>
            </form>
            <nav>
                <ul>
                    <li><a aria-current="page" asp-controller="Car" asp-action="AllCars">Cars</a></li>
                    <li><a asp-controller="Car" asp-action="AddCar" >Add Car</a></li>
                    <li><a href="">about</a></li>
                    <li><a href="">contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>