body {
    background-color: #292929;
    font-family: 'Montserrat', sans-serif;
}

header {
    padding: 20px 0;
    background: repeating-linear-gradient(45deg, #f0f2ed, #f0f2ed 20px, #f8f4eb 20px, #f8f4eb 40px);
    box-shadow: 0 4px 6px rgba(0,0,0,.2);
}

.logo-box {
    
    height: 50px;
    width: 50px;
}

.headercontainer {
    padding: 0 20px;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

    ul li {
        margin-left: 25px;
        line-height: 70px;
        transition: .5s linear;
        display: flex;
        justify-content: center;
    }

nav a {
    text-decoration: none;
    display: block;
    color: #868686;
    text-transform: uppercase;
}

#logo{
    display:flex;
    justify-content:center;
}

.mainpage{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
}

.mainpage .card{
    margin :25px auto;
}

.card ul li{
    margin-left:initial;
}
#search-input{
    display:flex;
    margin:auto;
}

.full {
    height: 100%;
}

@media only screen and (min-width: 770px) {
    ul {
        display: flex;
        flex-direction: row;
        margin-right: 50px;
    }

        ul li {
            height: 40px;
            line-height: 40px;
        }

    nav li:hover {
        background: rgba(0,0,0,.1);
    }

    nav a:after {
        content: none;
    }

    #logo{
        justify-content:flex-start;
    }

    .mainpage{
        flex-direction:row;
    }

    #search-input{
        justify-content:flex-start;
        margin: 10px 0 10px 10px;
    }

    .headermenu{
        display:flex;
        justify-content:space-between;
    }
    .full{
        height:86vh;
    }
}
