@model List<Car>


    <div class="mainpage">
    
    @foreach(var car in Model)
    {
        <div class="card" style="width: 18rem;">
            <img src="@car.photos" class="card-img-top" alt="...">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Name  :@car.Make</li>
                <li class="list-group-item">Price  :@car.Model</li>
                <li class="list-group-item">Price  :@car.Price</li>
            </ul>
            <div class="card-body">
                <a href="/Car/GetCars/@car.Id" class="card-link">Information</a>
                <a href="#" class="card-link">Delete</a>
            </div>
        </div>     
    }
    </div>


