@model List<Car>

    <div class="mainpage">
    
    @foreach(var car in Model)
    {
        <div class="card" style="width: 18rem;">
            <img src="@(string.IsNullOrEmpty(car.photos) ? "/Images/defaultcar.jpg" : car.photos)" class="img-fluid rounded-start" alt="..." />
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Make  :@car.Make</li>
                <li class="list-group-item">Model  :@car.Model</li>
                <li class="list-group-item">Price  :@car.Price</li>
            </ul>
            <div class="card-body">
                <a href="/Car/GetCars/@car.Id" class="card-link">Information</a>
                <a href="/Car/DeleteCar/@car.Id" class="card-link">Delete</a>
            </div>
        </div>     
    }
    </div>